p{
    color: rgb(2, 120, 106);
    font-size: 18px;
}

#p2{
    color: red;
}

.my_picture{
    width: 150px;
    height: 300px;
}

label{
    color: rgb(2, 120, 106);
    font-size: 25px;
}

h1{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}